[user]
  name = Martin Halder
  email = halderm@arkadia-labs.io
[core]
  editor = nvim
[init]
  defaultBranch = main
[push]
  default = upstream
[pull]
  rebase = true
[merge]
  conflictstyle = diff3
  tool = nvimdiff
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "nvimdiff"]
  layout = LOCAL,BASE,REMOTE / MERGED
[diff]
  colorMoved = default
[difftool]
  prompt = false
[rebase]
  updateRefs = true
[rerere]
  enabled = true
