# ~/.config/yazi/yazi.toml

[mgr]
ratio = [1, 4, 3]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
show_hidden = false
show_symlink = true
scrolloff = 5
linemode = "size"
title_format = "Yazi: {cwd}"

[preview]
wrap = "no"
max_width = 600
max_height = 900

[opener]
edit = [
	{ run = '$EDITOR "$@"', block = true, for = "unix" },
]
open = [
	{ run = 'xdg-open "$@"', desc = "Open", for = "unix" },
]
play = [
	{ run = 'mpv "$@"', orphan = true, for = "unix" },
]

[open]
rules = [
	{ name = "*/", use = ["edit", "open"] },
	{ mime = "text/*", use = ["edit"] },
	{ mime = "image/*", use = ["open"] },
	{ mime = "video/*", use = ["play", "open"] },
	{ mime = "audio/*", use = ["play", "open"] },
	{ mime = "application/pdf", use = ["open"] },
	{ mime = "*", use = ["edit", "open"] },
]
